<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page13</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>gatekeeper-concepts.html</key>
				<dict>
					<key>Digest</key>
					<data>
					grXBeMowcMVAmyOuXU/DgA==
					</data>
					<key>Size</key>
					<integer>22276</integer>
				</dict>
				<key>gatekeeper-concepts_assets/gatekeeper-uml.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qz5qb4Sz2W/UZP5VCEMNAg==
					</data>
					<key>Size</key>
					<integer>38055</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page13</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page4</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>applications.html</key>
				<dict>
					<key>Digest</key>
					<data>
					zgBXxCdxxbZQiBFIsMIAOQ==
					</data>
					<key>Size</key>
					<integer>8639</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page4</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page5</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T06:50:34Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>cockpit.html</key>
				<dict>
					<key>Digest</key>
					<data>
					AdRhK4KdTPLzgbOkTDh2DA==
					</data>
					<key>Size</key>
					<integer>30844</integer>
				</dict>
				<key>cockpit_assets/ACLDialog.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+AP1QZTmKhPRD1tONzdTng==
					</data>
					<key>Size</key>
					<integer>23966</integer>
				</dict>
				<key>cockpit_assets/BucketLogging.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gp++Iv//dtMaOK30F70ODQ==
					</data>
					<key>Size</key>
					<integer>53952</integer>
				</dict>
				<key>cockpit_assets/BucketMenu.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					O+z0WslnPuMw3bHJsjE3xA==
					</data>
					<key>Size</key>
					<integer>6656</integer>
				</dict>
				<key>cockpit_assets/Cockpit.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kI0Shhy/SJqC+zWGhFPrig==
					</data>
					<key>Size</key>
					<integer>33055</integer>
				</dict>
				<key>cockpit_assets/FileComparisonsDialog.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					byNjLTdc4YLVFfKJQgE3Xw==
					</data>
					<key>Size</key>
					<integer>36431</integer>
				</dict>
				<key>cockpit_assets/Filtering.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8kTP1kN8CbiLE4owT/CzPg==
					</data>
					<key>Size</key>
					<integer>50589</integer>
				</dict>
				<key>cockpit_assets/LoginDialog.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h9Sm/YLAHrE2erOtWo4pwQ==
					</data>
					<key>Size</key>
					<integer>17769</integer>
				</dict>
				<key>cockpit_assets/ObjectMenu.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+A53yYHtRief9GYFn2FRPA==
					</data>
					<key>Size</key>
					<integer>8310</integer>
				</dict>
				<key>cockpit_assets/PreferencesDialog.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PsjEVdsSQeAiq4TzgLWOwQ==
					</data>
					<key>Size</key>
					<integer>13476</integer>
				</dict>
				<key>cockpit_assets/SignedGetURLDialog.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q8SUlSfEco1Qxjsev/0fwA==
					</data>
					<key>Size</key>
					<integer>22171</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page5</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page6</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T06:48:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>synchronize.html</key>
				<dict>
					<key>Digest</key>
					<data>
					N1oIm4j8wkYoCqwbODydTA==
					</data>
					<key>Size</key>
					<integer>19688</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page6</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>uploader.html</key>
				<dict>
					<key>Digest</key>
					<data>
					UWXrCuUm90D6vrPRN42UUA==
					</data>
					<key>Size</key>
					<integer>3942</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>gatekeeper.html</key>
				<dict>
					<key>Digest</key>
					<data>
					MHUjq1kA8NfsKT826hVaTw==
					</data>
					<key>Size</key>
					<integer>12714</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
