<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:ideal</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:53Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+oFwphC1rjhr/OsmJekVjg==
					</data>
					<key>Size</key>
					<integer>111</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					m7/FWh/oc5j5f4+Ms8Cs3w==
					</data>
					<key>Size</key>
					<integer>213</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					sCEcofCNOCKX8dqDxylNVQ==
					</data>
					<key>Size</key>
					<integer>37</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					wTYPSAkrcWj8duZI1BAXAQ==
					</data>
					<key>Size</key>
					<integer>4765</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					w730oB5U+fDRSBdhoI90hw==
					</data>
					<key>Size</key>
					<integer>93</integer>
				</dict>
				<key>css/width/width_680.css</key>
				<dict>
					<key>Digest</key>
					<data>
					jm03waKBFGKkw01hGGbwSg==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					MV5zn7ShE7apbgbh5unS0Q==
					</data>
					<key>Size</key>
					<integer>221</integer>
				</dict>
				<key>css/width/width_variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					LNMDzOGQwXTFXZbSKCIRhQ==
					</data>
					<key>Size</key>
					<integer>94</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/footer_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					nR0H48t6Efqs7L+wwpS2Vw==
					</data>
					<key>Size</key>
					<integer>206</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					RhMPuIcloAEXX2Sm6V7Mfg==
					</data>
					<key>Size</key>
					<integer>241</integer>
				</dict>
				<key>images/sidebar_left_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					gSDQkiQO/9wtR61s+5kejg==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/sidebar_right_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					wwb3Zzy3C394+VnAmXKFNg==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fVxB+TcTtA7Lh6QMVJloMg==
					</data>
					<key>Size</key>
					<integer>9186</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:ideal</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
