<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page1</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>toolkit.html</key>
				<dict>
					<key>Digest</key>
					<data>
					UpFU4Qn0GFwfH0NsxQYiQA==
					</data>
					<key>Size</key>
					<integer>7763</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page1</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page10</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>guide-basics.html</key>
				<dict>
					<key>Digest</key>
					<data>
					yshk0LulXzYtVP9f/pNYMA==
					</data>
					<key>Size</key>
					<integer>4513</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page10</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page11</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>guide-advanced.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Y0Jxl3x8HgtLpib4rI+p/w==
					</data>
					<key>Size</key>
					<integer>4475</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page11</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page12</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-12T03:21:30Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>configuration.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Dnis+uPVgLQIoxaVo37oxw==
					</data>
					<key>Size</key>
					<integer>13491</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page12</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page2</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-08T02:57:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>99C26C57-A186-485A-830C-81E26E3A1288</string>
			<key>PageDigests</key>
			<dict>
				<key>guide.html</key>
				<dict>
					<key>Digest</key>
					<data>
					yMzkl5/Tze8umS+Va0+wvw==
					</data>
					<key>Size</key>
					<integer>29635</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page2</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
